---
import ShowcaseHero from '@components/hero/hero.tsx'

const projects = await Astro.glob('../pages/projects/*.md')
---

<section>
    {projects
        .sort((a, b) => b.frontmatter.createdOn - a.frontmatter.createdOn)
        .filter(project => project.frontmatter.active)
        .slice(0,5)
        .map((project, i) => (
            <ShowcaseHero 
                title={project.frontmatter.title}
                image={project.frontmatter.image}
                headline={project.frontmatter.headline}
                color={project.frontmatter.colorTheme}
                url={project.url}
                imageLazy={i === 0 ? false : true}
                client:visible
            />
    ))}
</section>