---
import '@styles/global.scss'
import logo from '@assets/logo-c.png?w=300'
import Icons from '@components/icons/icons.astro'
import {
  BackgroundImage,
  ImageSupportDetection,
} from 'astro-imagetools/components'

const { title, image } = Astro.props.content
---

<html lang='id'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <title>{`${title} | SNGR Studio`}</title>
    <ImageSupportDetection />
    <Icons />
  </head>
  <body>
    <BackgroundImage src={image}>
      <section class='maintenance__page'>
        <div class='wrapper'>
          <img src={logo} width={300} height='auto' alt={title} />
          <h1 class='coming__soon'>{title}</h1>
        </div>
      </section>
    </BackgroundImage>
    <script type='module' src='/pwabuilder-sw-register.js'></script>
  </body>
</html>

<style lang='scss'>
  .maintenance__page {
    @apply grid place-content-center h-screen p-8;
  }

  .wrapper {
    @apply flex flex-col items-center justify-center bg-white/70 p-4 rounded-lg shadow md:p-6 gap-8;
  }

  .coming__soon {
    @apply text-gray-600 text-2xl md:text-4xl font-extrabold;
  }
</style>
